@model IEnumerable<SummerQuestion4.Models.ProjectTask>
<h2>My Tasks</h2>
@if (User.IsInRole("Developer"))
{
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Project.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PercentageCompleted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Priority)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Duedate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Completed)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Project.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PercentageCompleted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Priority)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duedate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Completed)
            </td>
        </tr>
    }
    @Html.ActionLink("Update Task", "UpdateCompletion") |
</table>

}
